/* @font-face {
   font-family: "Outfit";
   src: url("../public/fonts/Outfit-ExtraBold.woff2") format("woff2"),
      url("../public/fonts/Outfit-ExtraBold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Outfit";
   src: url("../public/fonts/Outfit-Bold.woff2") format("woff2"), url("../public/fonts/Outfit-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Outfit";
   src: url("../public/fonts/Outfit-Black.woff2") format("woff2"),
      url("../public/fonts/Outfit-Black.woff") format("woff");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Outfit";
   src: url("../public/fonts/Outfit-ExtraLight.woff2") format("woff2"),
      url("../public/fonts/Outfit-ExtraLight.woff") format("woff");
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Outfit";
   src: url("../public/fonts/Outfit-Regular.woff2") format("woff2"),
      url("../public/fonts/Outfit-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Outfit";
   src: url("../public/fonts/Outfit-Light.woff2") format("woff2"),
      url("../public/fonts/Outfit-Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Outfit";
   src: url("../public/fonts/Outfit-Medium.woff2") format("woff2"),
      url("../public/fonts/Outfit-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Roboto";
   src: url("../public/fonts/Roboto-Black.woff2") format("woff2"),
      url("../public/fonts/Roboto-Black.woff") format("woff");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Outfit";
   src: url("../public/fonts/Outfit-SemiBold.woff2") format("woff2"),
      url("../public/fonts/Outfit-SemiBold.woff") format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Roboto";
   src: url("../public/fonts/Roboto-Light.woff2") format("woff2"),
      url("../public/fonts/Roboto-Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Roboto";
   src: url("../public/fonts/Roboto-Bold.woff2") format("woff2"), url("../public/fonts/Roboto-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Roboto";
   src: url("../public/fonts/Roboto-Regular.woff2") format("woff2"),
      url("../public/fonts/Roboto-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Roboto";
   src: url("../public/fonts/Roboto-Medium.woff2") format("woff2"),
      url("../public/fonts/Roboto-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
} */
