.homeServices {
   @apply pt-[1.5rem] pb-[4rem] relative bg-[#F9F9F9];

   background-repeat: repeat-x;
   z-index: 1;

   &__container {
      @apply flex flex-wrap gap-10;
   }

   &__ctn {
      @apply mx-auto;

      &__title:first-child {
         @apply mb-0;
      }
   }

   @screen tablet {
      padding-top: 4rem;

      &__ctn {
         @apply mx-auto;
         width: 70%;

         &__title {
            @apply max-w-[40rem];
         }
         &__title:first-child {
            @apply mb-[5px];
         }
      }

      /* &__title h2:last-child {
         @apply text-red-500;
      } */
   }

   @screen laptop {
      @apply bg-white;
      padding-top: calc(7rem * var(--scale));
      padding-bottom: calc(11rem * var(--scale));

      &__ctn {
         &__title {
            @apply max-w-full;
         }
      }

      &__container {
         @apply flex-nowrap px-0;
         gap: calc(1rem * var(--scale));
         margin-top: calc(5rem * var(--scale));
      }

      &:after {
         @apply absolute;
         content: "";
         bottom: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0.5;
         z-index: -1;
         background-image: url("/images/bg-service.jpg");
         background-repeat: no-repeat;
         background-position: bottom;
         background-size: contain;
      }
      &:before {
         @apply absolute;
         content: "";
         bottom: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0.5;
         z-index: -1;
         background-image: url("/images/bg-service.jpg");
         background-repeat: no-repeat;
         background-position: bottom;
         background-size: contain;
      }
   }
}

.homeServices_icon {
   right: calc(8rem * var(--scale));
   top: calc(0rem * var(--scale));
   z-index: 200;
}
