HOST=0.0.0.0
PORT=1337
APP_KEYS=PuWUm5PNMhq/jvF/rgGccQ==,gkPQfCQDnP3abcxWGElcOg==,I9knKSuMGW8QMV+Vj1zumA==,YxFHEAbvM6lqa7ecJoTJ1w==
API_TOKEN_SALT=IhdiR17cnTxIGmr+t67O1A==
ADMIN_JWT_SECRET=3n/EtMQZXk8DyjdzbVTZ+A==
TRANSFER_TOKEN_SALT=0Kvw3X9uHa0RbTqVTrNPmw==
# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=movingdb
DATABASE_USERNAME=root
DATABASE_PASSWORD=T3csup3671
DATABASE_SSL=false
JWT_SECRET=JG1KOR9gypTG+dBoQ56ubg==



#recaptcha
RECAPTCHA_SECRET_KEY="6Lc4V9AmAAAAAOoEcmzreZG4HFwa6mScxCicNXeV"
