.sectionTitle {
   @apply text-center relative max-w-[36.5rem] w-full mb-10 mx-auto leading-[3rem];
   z-index: 40;
   & > h3 {
      @apply font-primary lowercase relative text-[1.6rem] text-primary font-[700];

      &::first-letter {
         @apply uppercase;
      }
   }

   & > h2 {
      @apply text-black text-[2.4rem] font-[600] font-primary leading-[3.14rem];
      &::first-letter {
         @apply uppercase;
      }
      /* &::before {
         position: absolute;
         content: "";
         width: 7.6rem;
         background: linear-gradient(90deg, #509415 50%, #093f51 50%);
         bottom: -1.5rem;
         height: 0.2rem;
         left: 50%;
         transform: translateX(-50%);
         z-index: 200;
      } */
   }
   @screen tabletxl {
      &-title {
         @apply w-[50%] mx-auto;
      }
   }

   @screen laptop {
      @apply w-full max-w-[50rem];
      h3 {
         @apply font-primary font-[700];
         font-size: calc(2.2rem * var(--scale));

         line-height: 1.6;
      }

      h2 {
         @apply font-[700] mx-auto w-full;
         font-size: calc(3rem * var(--scale));
         line-height: calc(3.24rem * var(--scale));

         /* &::before {
            bottom: calc(-2.5rem * var(--scale));
            width: calc(11rem * var(--scale));
            height: calc(0.5rem * var(--scale));
         } */
      }
   }
}
