.contactFormCont {
   &__InputArea {
      @apply bg-[transparent] gap-6 flex flex-wrap justify-between;
      @screen laptop {
         gap: calc(1.9rem * var(--scale));
      }
      &__item {
         @apply w-full grid gap-3;

         @screen laptop {
            @apply w-[48.5%] block;
         }

         label {
            @apply block;

            @screen laptop {
               @apply block font-[400] font-primary;
               font-size: calc(1.8rem * var(--scale));
            }
         }
         input {
            @apply w-full bg-white rounded-lg font-primary;
            border: 0.04rem solid #dedede;
            height: 4.1rem;
            color: #787878;
            padding-left: 1.6rem;
            @media screen(laptop) {
               @apply block font-[400];
               height: calc(5.3rem * var(--scale));
               font-size: calc(2rem * var(--scale));
               color: #787878;
               margin: calc(1rem * var(--scale)) 0;
            }
         }

         select {
            border-radius: 5px;
            height: 4.1rem;
            color: #b0b0b0;
            appearance: none;
            padding-left: 1.6rem;
            width: 100%;
            border: 0.4px solid #dedede;
            z-index: 5;
            @media screen(laptop) {
               @apply font-[400];
               height: calc(5.3rem * var(--scale));
               font-size: calc(2rem * var(--scale));
               color: #a2a2a2;
               margin: calc(1rem * var(--scale)) 0;
            }
            & option {
               @apply not-italic;
               font-size: 100%;
               font-size: calc(1.7rem * var(--scale));
            }
         }
         .select-service {
            @apply relative w-full;
            &::before {
               content: "\e909";
               font-family: "icomoon";
               color: #848484;
               position: absolute;
               right: 4%;
               font-size: calc(0.8rem * var(--scale));
               top: 55%;
               transform: translateY(-50%);
            }
            z-index: 1;
            @screen laptop {
               height: calc(4.8rem * var(--scale));
               font-size: calc(1.7rem * var(--scale));
               &::before {
                  top: 70%;
                  transform: translateY(0);
               }
            }
         }
      }
   }

   &__ContainerCatcha {
      @apply my-5 flex items-start flex-col;
      @screen laptop {
         @apply items-center  justify-center;
         margin: calc(1.9rem * var(--scale)) auto;
      }
   }

   &__TextArea {
      @apply mt-2;
      @media screen(laptop) {
         margin-top: calc(3rem * var(--scale));
      }

      label {
         @apply block;
         @media screen(laptop) {
            @apply block font-primary font-[400];
            font-size: calc(1.8rem * var(--scale));
         }
      }
      textarea {
         height: 14.2rem;
         color: #787878;
         width: 100%;
         border-radius: 5px;
         padding: 1rem;
         margin-top: 10px;
         resize: none;
         border: 0.4px solid #dedede;
         @media screen(laptop) {
            @apply font-[400];
            height: calc(18rem * var(--scale));
            padding-left: calc(1.6rem * var(--scale));
            padding-top: calc(1rem * var(--scale));
            font-size: calc(2rem * var(--scale));
            color: #787878;
         }
      }
   }

   .feedback-message {
      color: #8fbc8f;
      transition: all 0.3s ease-in-out;
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
      margin-top: 1rem;
      display: block;

      &.failure {
         color: #ff7490;
      }
      @screen laptop {
         margin-top: calc(3rem * var(--scale));
         font-size: calc(1.9rem * var(--scale));
      }
   }

   @screen laptop {
      @apply mx-auto w-[80%];
   }
}

.Form-error {
   @apply text-[1.2rem] text-red-500;

   @screen laptop {
      font-size: calc(1.6rem * var(--scale));
   }
}

.ButtonArea {
   @apply flex items-center;

   &__boton {
      @apply bg-primary text-white hover:bg-primary hover:text-white font-[600];
      padding: 0.8rem 4rem;

      i {
         font-size: 0.9rem;
      }
      @screen laptop {
         @apply absolute min-w-[5rem];
         width: calc(15rem * var(--scale));
         span {
            @apply block;
         }
         i {
            font-size: calc(1.2rem * var(--scale));
            margin-top: calc(0.4rem * var(--scale));
            margin-left: calc(0.8rem * var(--scale));
            transition: transform 0.5s ease-in-out;
         }
      }
   }

   @screen laptop {
      @apply justify-center;
      height: calc(4rem * var(--scale));
   }
}

.breadCumbMenu {
   @apply mt-10;
   @screen laptop {
      @apply !hidden;
   }
}
