.cursor-pointer {
   @apply overflow-visible;
   @screen laptop {
      @apply overflow-visible;
   }
}
.Header {
   @apply pl-[2rem] h-[6rem] !sticky  w-full bg-gris-300;
   top: 0;
   z-index: 999;
   transition: background-color 0.5s ease;

   @media screen(laptop) {
      height: calc(9.6rem * var(--scale));
      /* padding: calc(0rem * var(--scale)); */
      @apply bg-gris-300 flex items-center;
   }
   &.background-white {
      @apply !bg-white text-gris-300;

      .Navbar-li {
         @media screen(laptop) {
            @apply text-gris-300;
            &::after,
            &::before {
               @apply text-gris-300;
            }
            &:hover {
               @apply text-gris-300;
            }
            &.isActive {
               @apply text-gris-300 font-[700];
            }
         }
      }
   }
   &.background-transparent {
      @apply text-white;
      @media screen(laptop) {
         .Navbar-li {
            @apply text-gris-300;
         }
      }
   }
   &-ctn {
      @apply relative h-[6rem];
      @media screen(laptop) {
         @apply mx-auto;
      }

      .socials {
         @apply flex gap-[1rem] bg-transparent text-white text-[2.5rem] right-[6rem] absolute justify-center items-start;
         top: 1.2rem;
         z-index: 8;
         @media screen(laptop) {
            @apply hidden;
         }
         &.isActive {
            z-index: 10;
            top: 2rem;
            .switch-lang__selected {
               @apply bg-white text-white;
            }
            .socials__link {
               @apply text-[2.75rem];
            }
         }
      }
   }

   &-menuIcon {
      @apply absolute z-[100];
      right: 0;
      @media screen(laptop) {
         @apply hidden;
      }
   }

   &-overlay {
      opacity: 0;
      transition: opacity 0.3s ease;
      @apply fixed inset-0 bg-black/40 pointer-events-none w-screen h-screen;
      z-index: -1;
      @media screen(laptop) {
         @apply hidden;
      }

      &.isActive {
         opacity: 1;
         @apply pointer-events-auto;
      }
   }
}

.isActive {
   @apply !opacity-100;
}
.Navbar-li:hover {
   @apply !opacity-100;
}

.nav-btn {
   @apply hidden;
   @screen laptop {
      display: block;
      margin-right: calc(1.2rem * var(--scale));
   }
}

/* PRINCIPAL */
.Navbar {
   padding-top: 8rem;
   padding-bottom: 2rem;
   border-radius: 0 0 1.5rem 1.5rem;
   transform: translateY(-101%);
   transition: transform 0.3s ease;
   @apply fixed top-0 right-0 left-0 bg-primary text-gris-300;

   &.isActive {
      transform: translateY(0);
   }

   &-container {
      margin-right: 6.3rem;
      @apply flex justify-between ml-[2.7rem];
   }
   &-ctn {
      @media screen(laptop) {
         @apply flex items-center h-full w-full;
      }
   }

   .Logo {
      @apply hidden;
      @screen laptop {
         @apply !block;
      }
   }

   &-ul {
      margin-top: 2rem;
      font-size: 1.7rem;
      @apply font-normal flex flex-col;
      @media screen(laptop) {
         @apply flex flex-row font-normal items-center justify-end mt-0;
         font-size: calc(1.8rem * var(--scale));
         gap: calc(4.5rem * var(--scale));
         width: 100%;
      }
   }

   &-li {
      border-top: 1px solid hsla(0, 0%, 100%, 0.2);
      padding: 0.4rem 0;
      transition: color 0.5s ease;
      @apply px-12 relative cursor-pointer;
      position: relative;
      text-decoration: none;
      color: #ffff;

      & > a {
         @apply block w-full;
         @screen laptop {
            @apply inline w-fit;
         }
      }

      &.isActive {
         @apply font-bold;
         @media screen(laptop) {
            &::after {
               opacity: 1;
            }
         }
      }
      i {
         @apply hidden;
      }
      span {
         @apply hidden;
      }
      @media screen(laptop) {
         @apply border-none p-0 relative  text-black;
         &:hover,
         &.isActive {
            &::after {
               opacity: 1;
            }
         }
         &::after {
            @apply bg-primary;
            content: "";
            position: absolute;
            z-index: -1;
            left: 51%;
            right: 51%;
            bottom: -10px;
            height: 2px;
            transition-property: left, right;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
         }
         &::before {
            top: 3px;
            transform-origin: left;
         }

         &.isActive::before,
         &.isActive::after {
            left: 20%;
            right: 20%;
         }

         &:hover::after {
            left: 20%;
            right: 20%;
         }
      }
   }

   @media screen(laptop) {
      @apply static inset-auto p-[0] transform-none rounded-none bg-white  w-full;
      /*BOTON CONTACTO*/

      & &-li:last-child {
         &::after {
            display: none;
         }

         a {
            @apply bg-primary font-primary relative text-white rounded-lg;
            transition: background-color 0.5s ease;
            padding: calc(1rem * var(--scale)) calc(3rem * var(--scale));
            padding-right: calc(6rem * var(--scale));
            font-size: calc(2rem * var(--scale));
            &::after {
               content: "\e904";
               background-color: transparent;
               font-family: "icomoon";
               font-weight: light;
               margin-left: 15px;
               font-size: calc(1.2rem * var(--scale));
               position: absolute;
               bottom: calc(1.2rem * var(--scale));
               transition: all 0.4s ease-out;
            }

            &:hover {
               &::after {
                  @apply translate-x-[50%];
               }
            }
         }
      }
   }
}
.hide-desktop {
   @screen laptop {
      display: none;
   }
}
/* 
.isActivess {
   @apply bg-black;
} */
